<div class="circleContainer soundmap" layout="row" layout-align="center center">
	<p style='text-align:left;'>Great job, {{user}}! Now select some moon boxes and press play!</p>

	<audio id="jump" src="../sounds/jumpone.mp3" controls="controls" ng-click="playSound()"></audio> 
	<audio id="leap" src="../sounds/jumptwo.wav" controls="controls"></audio> 
	<audio id="warp" src="../sounds/timer.wav" controls="controls"></audio> 
	<audio id="coin" src="../sounds/coin.wav" controls="controls"></audio> 
	<audio id="bomb" src="../sounds/explosion.mp3" controls="controls"></audio> 
	<audio id="snap" src="../sounds/mover.mp3" controls="controls"></audio> 
	<audio id="snes" src="../sounds/snes.wav" controls="controls"></audio> 
	<audio id="dart" src="../sounds/dart.mp3" controls="controls"></audio> 
	<audio id="start" src="../sounds/start.wav" controls="controls"></audio>
	<audio id="robot" src="../sounds/robot.wav" controls="controls"></audio>
	
	<table>
	</table>
	
	<ul>
	  <li><a id="play" ng-click"">&gt;</a></li>
	  <li><a id="pause" ng-click="">||</a></li>
	</ul>
</div>